@tailwind base;
@tailwind components;
@tailwind utilities;

body,
.body {
  font-family: Arial, Helvetica, sans-serif;
  direction: ltr;
}
@layer utilities {
  .stroke-text {
    -webkit-text-stroke: 2px #22c55e; /* Green stroke */
    color: transparent;
  }
}
